# Logs
logs
*.log
npmdebug.log*
yarndebug.log*
yarnerror.log*
pnpmdebug.log*
lernadebug.log*

node_modules
dist
distssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
